@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var todaysDate = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Experience Playing Pathfinder</h1>

    <p id="introPara">This website showcases the beginning of my adventure in Pathfinder, a tabletop roleplaying game that uses multiple different Dice to act out an adventure as a character you 
        have created. This Feats Page has a list of some of the Features my Character has earned over the course of our adventure over the last 7 months, as we had started the Rise of
        The Rune Lords campaign module July 2nd, 2021. I have been playing as a Human Fighter named Fjorm Leonheart, An Ex Gladiator of the old Capital that uses a Large Steel Shield and 
        a Bastard Sword. 
    </p>

    <aside>
        <img src="~/images/Fjorm2_Temp_Token.png"  alt="Fjorms Token" />
        <caption>The Image above is the token for my Character.</caption>
    </aside>

    <h1 class="display-4">Backstory</h1>
    <p id="Backstory">"As a young commoner, Fjorm worked hard in the fields to help his father feed their family, but one day a band of wild wolves attacked the village. Without thinking twice, 
        young Fjorm took to grabbing a sword and Shield (pot lid) to defend his village from the wolves. As the years went by, Fjorm was praised for his combat prowess and his skills with the 
        sword and shield, he was offered Work in the Dueling Dragons Colosseum and was promised as he continued to win he would become a renowned fighter in the Capital and his fame would be 
        known everywhere. as time went on and he learned to train under the care of his arena handler, he continued to win, and he soon became an unstobable force in the arena. and was soon 
        retired as a hearlded champion of the arena. however his thirst for glory has yet to be quenched, and so he has set forth to find even greater glory in the world."
    </p>

    <p> Though His backstory is very basic, I had made it that way to try to make his character fit in easier with the rest of our party of players, some of which have fairly complex backgrounds
        which include traveling between alternate realms.
    </p>

</div>
